<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NeedleController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="NeedleController.Resources.DeviceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="NeedleController.Resources.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NeedleController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="NeedleSupplierDataContext" connectionString="metadata=res://*/Model.NSModel.csdl|res://*/Model.NSModel.ssdl|res://*/Model.NSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.4.2.23;initial catalog=_NEEDLE_SUPPLIER_;persist security info=True;user id=sa;password=shc@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
 <applicationSettings>
  <NeedleController.Properties.Settings>
   <setting name="local_ip" serializeAs="String">
    <value>192.168.0.177</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>8080</value>
   </setting>
  </NeedleController.Properties.Settings>
  <NeedleController.Resources.DeviceSettings>
   <setting name="local_ip" serializeAs="String">
    <value>192.168.1.177</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>8080</value>
   </setting>
  </NeedleController.Resources.DeviceSettings>
  <NeedleController.Resources.Settings1>
   <setting name="local_ip" serializeAs="String">
    <value>192.168.1.177</value>
   </setting>
   <setting name="port" serializeAs="String">
    <value>8080</value>
   </setting>
   <setting name="speedx" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="speedy" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="speedz" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="speedw" serializeAs="String">
    <value>0</value>
   </setting>
  </NeedleController.Resources.Settings1>
 </applicationSettings>
 <userSettings>
  <NeedleController.Properties.Settings>
   <setting name="language_set" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="gaussianBlurKsize" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="cannyThreshold1" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="cannyThreshold2" serializeAs="String">
    <value>255</value>
   </setting>
   <setting name="colorLowR" serializeAs="String">
    <value>130</value>
   </setting>
   <setting name="colorLowG" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="colorLowB" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="colorHighR" serializeAs="String">
    <value>150</value>
   </setting>
   <setting name="colorHighG" serializeAs="String">
    <value>110</value>
   </setting>
   <setting name="colorHighB" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="displayImgMode" serializeAs="String">
    <value>N</value>
   </setting>
   <setting name="brightness" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="contrast" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="imgPosition" serializeAs="String">
    <value>Fit</value>
   </setting>
   <setting name="IDCamera" serializeAs="String">
    <value>0</value>
   </setting>
  </NeedleController.Properties.Settings>
 </userSettings>
</configuration>